.comment
    font-size: 150%
    width: 350px
    height: 300px
    border: 1px solid rgba(255, 255, 255, 0.20)
    border-radius: 15px
    box-shadow: -6px -6px 26px 0 rgba(255, 255, 255, 0.83), 6px 6px 16px 0 rgba(217, 210, 200, 0.91)
    display: flex
    flex-direction: column
    justify-content: space-around
    text-align: center