{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,900&display=swap" rel="stylesheet">
    <title>Roflan</title>
  </head>
  <body>
    <div id="root"></div>
   {% render_bundle 'polyfill' %}
   {% render_bundle 'main' %}
  </body>
</html>
 
 