@import '../../_vars.sass'
    
*
    font-family: 'Roboto'

body
    margin: 0
    background-color: $main-bg-color
    
.content
    padding-top: 150px
    padding-bottom: 150px
    background: url(../../img/banner.jpg) no-repeat
    height: auto
    color: #ffffff
    font-size: 20px
    &-text
        line-height: 1.5
        padding: 50px 50px
        font-size: 120%
        text-align: justify
h1
    text-align: center
    font-size: 200%
.catalog
    margin-top: 100px
    padding: 0 120px
    display: grid
    grid-template-rows: 1fr 1fr 1fr
    grid-template-columns: 1fr 1fr
    grid-gap: 6vw