@import '../../_vars.sass'

.card
    width: 500px
    height: 400px
    background: $main-bg-color
    border: 1px solid rgba(255, 255, 255, 0.20)
    border-radius: 0
    box-shadow: -6px -6px 26px 0 rgba(255, 255, 255, 0.83), 6px 6px 16px 0 rgba(217, 210, 200, 0.91)
    .wrap
        display: flex
        .img-wrap
            display: flex
            height: 400px
            div
                margin: auto
                img  
                    width: 226.83px
        .card-content
            width: 100%
            text-align: center
            .card-name
                text-align: center
            .card-desc
                padding: 5px 15px
                text-align: justify
        .star-rating
                margin: 20px auto 0
