.details-wrap
    .card-content
        .card-name
            text-align: center
            h2
                margin-top: 0px 
        .card-desc
            padding: 15px
            border: 1px solid rgba(255, 255, 255, 0.20)
            border-radius: 15px
            box-shadow: -6px -6px 26px 0 rgba(255, 255, 255, 0.83), 6px 6px 16px 0 rgba(217, 210, 200, 0.91)
            margin-left: 20px
            margin-right: 20px
            text-align: justify
.map-wrap
    margin-top: 50px
    display: grid
    grid-template-columns: 2fr 1fr
    grid-gap: 2vw
    .img-wrap
        margin-left: 20px
        img
            width: 100%
    .map
        display: flex
        div
            margin: auto 0
.details-comments
    margin-top: 50px
.get-qr
    margin: 70px 0
    text-align: center
    a
        padding: 5px
        font-size: 200%
        border: 1px solid rgba(255, 255, 255, 0.20)
        border-radius: 15px
        box-shadow: -6px -6px 26px 0 rgba(255, 255, 255, 0.83), 6px 6px 16px 0 rgba(217, 210, 200, 0.91)
    a:hover
        box-shadow: inset -6px -6px 26px 0 rgba(255, 255, 255, 0.83), inset 6px 6px 16px 0 rgba(217, 210, 200, 0.91)